Repository openenclave/test-infra, pull requests merged in 2021-02, with the labels that each got.

#456 Mount war dir to ephemeral storage
  config/jenkins/kubernetes/jenkins-master-deployment.yml
Labels: approved, area/config, config/jenkins, dco-signoff: yes, lgtm, sig/ci, sig/testing, size/XS

#458 windows refactor and cleanup
  config/jobs/openenclave/jenkins/WindowsBuild.Jenkinsfile
  config/jobs/openenclave/jenkins/common.groovy
Labels: approved, area/config, config/jobs/openenclave, dco-signoff: yes, sig/ci, sig/testing, size/L

#459 OE rhel refactor
  config/jobs/openenclave/jenkins/RhelBuild.Jenkinsfile
Labels: approved, area/config, config/jobs/openenclave, dco-signoff: yes, sig/ci, sig/testing, size/L

#460 Arch refactor
  config/jobs/openenclave/jenkins/ArchLinux.Jenkinsfile
  config/jobs/openenclave/jenkins/common.groovy
Labels: approved, area/config, config/jobs/openenclave, dco-signoff: yes, sig/ci, sig/testing, size/M

#464 Ubuntu oe jenkins file refactor
  config/jobs/openenclave/jenkins/UbuntuBuild.Jenkinsfile
Labels: approved, area/config, config/jobs/openenclave, dco-signoff: yes, lgtm, sig/ci, sig/testing, size/L

#461 add non sgx linux agents
  config/jenkins/configuration/clouds.yml
Labels: approved, area/config, config/jenkins, dco-signoff: yes, lgtm, sig/ci, sig/testing, size/L

#462 Add non sgx windows agents
  config/jenkins/configuration/clouds.yml
Labels: approved, area/config, config/jenkins, dco-signoff: yes, lgtm, sig/ci, sig/testing, size/L

#463 Bump image version
  config/jenkins/configuration/clouds.yml
Labels: approved, area/config, config/jenkins, dco-signoff: yes, lgtm, sig/ci, sig/testing, size/L

#467 change 2016 version to 2021.01.28
  config/jenkins/configuration/clouds.yml
Labels: approved, area/config, config/jenkins, dco-signoff: yes, lgtm, sig/ci, sig/testing, size/XS

#474 change intel periodical names
  config/jobs/openenclave/openenclave-intel-periodics.yaml
Labels: dco-signoff: yes

#472 remove redundant jobs
  config/jobs/openenclave/openenclave-periodics.yaml
  config/jobs/openenclave/openenclave-pre-submits.yaml
  config/jobs/test-infra/test-infra-periodics.yaml
  config/jobs/test-infra/test-infra-pre-submits.yaml
Labels: approved, area/config, config/jobs/openenclave, config/jobs/test-infra, dco-signoff: yes, lgtm, sig/ci, sig/testing, size/L

#475 remove clang7 job DSL's
  config/jenkins/configuration/jobs/oeedger8r-cpp/Ubuntu1604BuildClang-7.yml
  config/jenkins/configuration/jobs/oeedger8r-cpp/Ubuntu1804BuildClang-7.yml
  config/jenkins/configuration/jobs/openenclave-curl/Ubuntu1604BuildClang-7.yml
  config/jenkins/configuration/jobs/openenclave-curl/Ubuntu1804BuildClang-7.yml
  config/jenkins/configuration/jobs/openenclave-mbedtls/Ubuntu1604BuildClang-7.yml
  config/jenkins/configuration/jobs/openenclave-mbedtls/Ubuntu1804BuildClang-7.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1604DebugClang-7.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1604DebugClang-7Snmalloc.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1604DebugClang-7SnmallocE2E.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1604RelWithDebInfoClang-7.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1604RelWithDebInfoClang-7Snmalloc.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1604RelWithDebInfoClang-7SnmallocE2E.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1604ReleaseClang-7.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1604ReleaseClang-7Snmalloc.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1604ReleaseClang-7SnmallocE2E.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1804DebugClang-7.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1804DebugClang-7Snmalloc.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1804DebugClang-7SnmallocE2E.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1804RelWithDebInfoClang-7.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1804RelWithDebInfoClang-7Snmalloc.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1804RelWithDebInfoClang-7SnmallocE2E.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1804ReleaseClang-7.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1804ReleaseClang-7Snmalloc.yml
  config/jenkins/configuration/jobs/openenclave/Ubuntu1804ReleaseClang-7SnmallocE2E.yml
  config/jenkins/configuration/jobs/test-infra/oeedger8r-cpp/Ubuntu1604BuildClang-7.yml
  config/jenkins/configuration/jobs/test-infra/oeedger8r-cpp/Ubuntu1804BuildClang-7.yml
  config/jenkins/configuration/jobs/test-infra/openenclave-curl/Ubuntu1604BuildClang-7.yml
  config/jenkins/configuration/jobs/test-infra/openenclave-curl/Ubuntu1804BuildClang-7.yml
  config/jenkins/configuration/jobs/test-infra/openenclave-mbedtls/Ubuntu1604BuildClang-7.yml
  config/jenkins/configuration/jobs/test-infra/openenclave-mbedtls/Ubuntu1804BuildClang-7.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1604DebugClang-7.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1604DebugClang-7Snmalloc.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1604DebugClang-7SnmallocE2E.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1604RelWithDebInfoClang-7.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1604RelWithDebInfoClang-7Snmalloc.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1604RelWithDebInfoClang-7SnmallocE2E.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1604ReleaseClang-7.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1604ReleaseClang-7Snmalloc.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1604ReleaseClang-7SnmallocE2E.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1804DebugClang-7.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1804DebugClang-7Snmalloc.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1804DebugClang-7SnmallocE2E.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1804RelWithDebInfoClang-7.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1804RelWithDebInfoClang-7Snmalloc.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1804RelWithDebInfoClang-7SnmallocE2E.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1804ReleaseClang-7.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1804ReleaseClang-7Snmalloc.yml
  config/jenkins/configuration/jobs/test-infra/openenclave/Ubuntu1804ReleaseClang-7SnmallocE2E.yml
Labels: approved, area/config, config/jenkins, config/jobs/openenclave, dco-signoff: yes, lgtm, sig/ci, sig/testing, size/XXL
